<h1 class=" text-center ">Update  Product </h1>

<form action="/update-product" method="post">
 <% if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
    
     <%  errorMessage.forEach( msg=>{ %>
        <strong> <%= msg %></strong><br>
    <%  }) %>
    </div>
 <% } %>
    <div class="mb-3">
      <input type="hidden" class="form-control" id="id" name="id" value="<%= product.id %>" >
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" >
    </div>
    <!-- <% console.log(product.name) %> -->

    <div class="mb-3">
      <label for="desc" class="form-label">Desc</label>
      <textarea type="textarea" class="form-control" id="desc" name="desc"   ><%= product.desc %></textarea>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>">
    </div>
    <div class="mb-3">
      <label for="imageurl" class="form-label">Image url</label>
      <input type="url" class="form-control" id="imageurl" name="imageurl" value="<%= product.imageurl %>">
    </div>
  
    <button type="submit" class="btn btn-primary">Update  Product</button>
  </form>